/* 서브페이지 네비 */
#mysubmenu { width:100%; max-width:1200px; height:60px; background:linear-gradient(to right, rgba(89, 183, 97, 1) 0%, rgba(29, 139, 224, 1) 100%); z-index:200; position:absolute; left:50%; transform:translate(-50%, -50%); }
#mysubmenu ul {list-style:none; font-size:11pt; margin:0; padding:0; }
#mysubmenu > ul { max-width:1200px; width:100%; height:100%; margin:0 auto; }
#mysubmenu a { color:#fff; text-align:center; text-decoration:none;}
#mysubmenu a.home { display:flex; justify-content:center; align-items:center; float:left; width:5%; height:100%; font-size:18px; border-right:1px solid rgba(255,255,255,0.2); position:relative; }
	/*대메뉴*/
#mysubmenu .sub_depth1 { position:relative; width:45%; min-width:220px; height:100%; border-right:1px solid rgba(255,255,255,0.2); float:left; position:relative; }
#mysubmenu .sub_depth1 > a { display:flex; align-items:center; position:relative; width:100%; height:100%; padding:0 40px 0 20px; font-size:15px; font-weight:400; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#mysubmenu .sub_depth1 > a:hover,
#mysubmenu .sub_depth1.on > a { color:#fff; }
#mysubmenu .sub_depth1 > a:after { content:'\e942'; width:18px; height:18px; line-height:18px; font-family:'xeicon'; font-size:18px; position:absolute; right:20px; top:50%; transform:translateY(-50%); }
#mysubmenu .sub_depth1.on > a:after { content:'\e945'; }
#mysubmenu .sub_depth1 .depth1_ul { display:none; position:absolute; top:60px; left:-1px; width:calc(100% + 2px); background:#fff; border-left:1px solid #ddd; border-right:1px solid #ddd; }
#mysubmenu .sub_depth1 .depth1_li { border-bottom:1px solid #ddd; }
#mysubmenu .sub_depth1 .depth1_li a { display:block; padding-left:20px; line-height:49px; font-size:14px; font-weight:400; text-align:left; color:#777; }
#mysubmenu .sub_depth1 .depth1_li a:hover { background:#fafafa; color:#000; }
	/*소메뉴*/
#mysubmenu .sub_depth2 { position:relative; width:50%; min-width:220px; height:100%; float:left; position:relative; }
#mysubmenu .sub_depth2 > a { display:flex; align-items:center; position:relative; width:100%; height:100%; padding:0 40px 0 20px; font-size:15px; font-weight:400; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#mysubmenu .sub_depth2 > a:hover,
#mysubmenu .sub_depth2.on > a { color:#fff; }
#mysubmenu .sub_depth2 > a:after { content:'\e942'; width:18px; height:18px; line-height:18px; font-family:'xeicon'; font-size:18px; position:absolute; right:20px; top:50%; transform:translateY(-50%); }
#mysubmenu .sub_depth2.on > a:after { content:'\e945'; }
#mysubmenu .sub_depth2 .depth2_ul { display:none; position:absolute; top:60px; left:-1px; width:calc(100% + 2px); background:#fff; border-left:1px solid #ddd; border-right:1px solid #ddd; }
#mysubmenu .sub_depth2 .depth2_li { border-bottom:1px solid #ddd; }
#mysubmenu .sub_depth2 .depth2_li a { display:block; padding-left:20px; line-height:49px; font-size:14px; font-weight:400; text-align:left; color:#777; }
#mysubmenu .sub_depth2 .depth2_li a:hover { background:#fafafa; color:#000; }


/* fixed */
#mysubmenu.fixed { position:fixed; width:100%; max-width:none; transform:translate(-50%, 0); }


@media (max-width: 980px){
	#mysubmenu a.home { display:none; }
	#mysubmenu .sub_depth1 { min-width:auto; width:50%; }
	#mysubmenu .sub_depth2 { min-width:auto; width:50%; border-right:0 !important; }

}


@media (max-width: 760px){

}


@media (max-width: 540px){
	#mysubmenu { height:50px; }
	#mysubmenu .sub_depth1 > a,
	#mysubmenu .sub_depth2 > a { font-size:13px; }
	#mysubmenu .sub_depth1 .depth1_ul,
	#mysubmenu .sub_depth2 .depth2_ul { top:50px; }
	#mysubmenu .sub_depth1 .depth1_li a,
	#mysubmenu .sub_depth2 .depth2_li a { font-size:13px; }
}



