@charset "utf-8";

/* 추가 */
html, body { width:100%; height:auto; font-family:'Pretendard Variable', 'Noto Sans KR', 'Malgun Gothic', dotum, sans-serif;  }
#hd { display:none; }
#wrapper {
	width:100%;
	min-width:auto;
	height:auto;
	background-color:#ccc;
	background-image:url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2386899f' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#container_wr { width:100%; height:auto; }
#container { width:100%; height:auto !important; margin:0 auto; }
#container_title { display:none; }
#aside { display:none; }
#ft { display:none; }



/* 내용관리 */
#ctt { width:100%; height:auto; margin:0 auto; padding:0; }
.ctt_admin {text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con { display:flex; align-items:center; justify-content:center; width:100%; height:auto; padding:30px 0; line-height:1; }
#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}



/* kiosk */
.kiosk_wrap { max-width:700px; width:90%; min-height:650px; line-height:1; margin:0 auto; padding:15px; background:#f7f7f7; }
.kiosk_wrap .kiosk_top { width:100%; padding:20px; background:#fff; border-radius:5px 5px 0 0; box-shadow:0 -4px 4px 4px rgba(200,200,200,0.1); }
.kiosk_wrap .kiosk_title { width:100%; font-size:clamp(20px, 3vw, 30px); font-weight:900; }
.kiosk_wrap .kiosk_event { width:100%; height:350px; margin-top:20px; background:#f1f1f1; }
.kiosk_wrap .tabs { display:flex; flex-flow:row; width:100%; overflow-x:auto; position:relative; }
.kiosk_wrap .tabs::-webkit-scrollbar { height:0px; }
.kiosk_wrap .tabs li { display:flex; align-items:center; justify-content:center; flex:0 0 auto; width:20%; height:40px; line-height:1; background:#f7f7f7; transition:all 0.3s ease; }
.kiosk_wrap .tabs li.active { border-radius:0 0 15px 15px; background:#fff; box-shadow:0 4px 4px 4px rgba(200,200,200,0.1); position:relative; }
.kiosk_wrap .tabs li.active::before { content:''; display:block; width:20px; height:20px; border-top-right-radius:20px; background:transparent; position:absolute; top:0; left:-20px; box-shadow:6px -6px 0 6px #fff; }
.kiosk_wrap .tabs li.active::after { content:''; display:block; width:20px; height:20px; border-top-left-radius:20px; background:transparent; position:absolute; top:0; right:-20px; box-shadow:-6px -6px 0 6px #fff; }
.kiosk_wrap .tabs li:last-of-type::after { content:''; display:none; }


.kiosk_wrap .tab_content { display:none; width:100%; min-height:780px; }
.kiosk_wrap .tab_content.active { display:block; }

.kiosk_wrap .tab_content .menu_list { margin:20px auto; }
.kiosk_wrap .tab_content .menu_list .list_item {
	display:inline-flex !important; align-items:center; justify-content:center; width:calc(33.3333% - 10px) !important; min-height:250px; margin:5px; background:#fff; border-radius:5px;
}