@charset "utf-8";
/* 새글 스킨 (latest) */
.lt {position: relative;}
.tl_business_now_box_warp { width:100%; padding-top:min(4%, 50px); text-align:center; clear:both; }
.tl_business_now_box_warp .lt .lt_title {display: none;}
.tl_business_now_box_warp .lt .lt_more {display: none;}
.tl_business_now_box_warp .lt .a-item {padding: 0; border:0; background-color:#fff; min-height: 390px;word-break: break-all;}
.tl_business_now_box_warp .lt .a-item .img-box { width:100%; aspect-ratio:1/1; padding:5%; position:relative; overflow:hidden; cursor:pointer; }
.tl_business_now_box_warp .lt .a-item .img-box img { -webkit-transform: scale(1); transform: scale(1);transition: all 1s ease;-webkit-transition: all 1s ease;}
.tl_business_now_box_warp .lt .a-item .img-box img:hover { -webkit-transform: scale(1.1); transform: scale(1.1);}
.tl_business_now_box_warp .lt .a-item .info {text-decoration: none;}
.tl_business_now_box_warp .lt .a-item .info .subject { text-align:left; font-weight:bold; font-size:16px; }
.tl_business_now_box_warp .lt .a-item .info .substance { text-align:left; color:#555; margin-top:10px; font-size:13px; letter-spacing:-0.02em; font-weight:400; line-height:1.6;}
.tl_business_now_box_warp .lt .a-item .info .time {color:tomato; font-size:0.9em;text-align:right;}
.tl_business_now_box_warp .lt .a-item .more {width: 141px;margin:20px auto 0 auto; border: 1px solid #ddd;padding: 14px 0 14px 0; line-height:14px; font-size:14px; background-color:#f2f2f2;  text-align:center; display:block}
.tl_business_now_box_warp .lt .a-item .more:hover {background-color: #697dc4; border:1px solid #697dc4; color:#fff; cursor: pointer; opacity: 1;transition: all 0.5s;}




.tl_business_now_box_warp .latest-carousel .owl-nav {position: absolute;top: 50%; margin-top: -25px; width:100%; display:block}
.tl_business_now_box_warp .latest-carousel .owl-nav .owl-prev {width:45px; height:45px; line-height:45px; left:-25px; background-color:#32373a; margin:0; position:absolute; cursor:pointer; color:#fff; padding:0}
.tl_business_now_box_warp .latest-carousel .owl-nav .owl-next {width:45px; height:45px; line-height:45px; right:-25px; background-color:#32373a; margin:0; position:absolute; cursor:pointer; color:#fff; padding:0}
.tl_business_now_box_warp .latest-carousel .owl-nav .owl-prev:hover { background-color:#e72223; color:#fff}
.tl_business_now_box_warp .latest-carousel .owl-nav .owl-next:hover { background-color:#e72223; color:#fff}
.tl_business_now_box_warp .latest-carousel .owl-dots { display:none}




@media screen and (max-width:1300px) {
.tl_business_now_box_warp .latest-carousel .owl-nav .owl-prev {left: 0px;}
.tl_business_now_box_warp .latest-carousel .owl-nav .owl-next {right:0px;}
}
/* 주요 계약실적*/
