@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    overflow: hidden;
}

/* 메인비주얼1 */

.gallery{
    padding-top:clamp(90px, 10vw, 120px); 
    /* padding-bottom:clamp(40px, 10vw, 120px);  */
    text-align: center;
    position: relative;
    overflow: hidden;
    height: auto;
    
}

/* 제목, 글자 */
.text_wrap{
    width: 100%;
    height: fit-content;
    z-index: 100;
    color: #000;
    padding: 5%;
}


.text_wrap p{
    font-size: clamp(15px, 4vw, 30px);
    color: #7c7c7c;
    padding-bottom: 0.5%;
    font-weight: bold;

}
.text_wrap h2{
    font-size: clamp(18px, 7vw, 70px);
    font-weight: bold;
    text-transform: uppercase;
    /* letter-spacing: 2.6px; */
    background: linear-gradient(to right top,#1A305C ,#4378e2 );
    color: transparent;
    -webkit-background-clip: text;
}
.gradient{
    width: 100%;
    background: linear-gradient(to right top,#1A305C ,#4378e2 );
}


/* 동영상 */
.vid_wrap{
    height: 300vh;
    position: relative;
}

.br_540{
    display: none;
}
.br_541{
    display: block;
}

.content{
    /* background: #ffe3e3; */
    width: 70%;
    height: 100vh;
    border-radius: 200px 200px 0 0;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 990;
    overflow: hidden;
}
.inner{
    padding: 0 5%;
    /* max-width: 1230px; */
}
.vid_txt_wrap{
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 993;
    opacity: 0;
    color: #fff;
}
.vid_txt_wrap p{
    font-size: clamp(15px, 4vw, 30px);
    color: #ffffff;
    padding-bottom: 0.5%;
}
.vid_txt_wrap h3{
    font-size: clamp(18px, 7vw, 70px);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 2%;

    color: #fff;
}
.vid_txt_wrap .txt_wrap> p{
    font-size: clamp(13px, 3.5vw, 25px);
    line-height:1.5;

}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    /* z-index: 9999; */
    max-width: 3500px;
    min-width: 3500px;
}




/* 흐르는 텍스트 */
.flow_text_wrap{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size:clamp(20px, 5vw, 35px); 
    font-weight:600;
    padding-top: clamp(10px, 2.5vw, 15px);
    padding-bottom: clamp(10px, 2.5vw, 15px);

}
.flow_text_wrap .flow_txt{
    animation: textLoop 10s linear infinite;
    padding-right: 4vw;
    font-weight: bold;
    background: linear-gradient(to right top,#1A305C ,#4378e2 );
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}


.main_section_wrap {
    width:100%;
    height: 100%; 
}

.main_section_wrap .section { 
    height: 100%; 
    padding:0; 
    padding-top:clamp(40px, 10vw, 120px); 
    padding-bottom:clamp(40px, 10vw, 120px); 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.main_section_wrap .section .inner { 
    max-width:1230px; 
    padding:0 5%; 
}

.main_section_wrap .section .section_tit { 
    font-size:clamp(20px, 5vw, 40px); 
    padding-bottom: 2%;
    font-weight: bold;
}

.main_section_wrap .section .section_txt { 
    font-size:clamp(12px, 3vw, 18px); 
    padding-bottom: clamp(3%, 5vw, 5%);
    color: #717171;
    line-height: 1.4;
}




/* 섹션 2 */
#container1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding:0; 
    padding-top:clamp(40px, 10vw, 120px); 
    padding-bottom:clamp(40px, 10vw, 120px); 
    text-align: center; 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.panel_inner{
    max-width: 1230px;
    padding:0 5%; 
    position: relative;
}


.panel1 {
    z-index: 2;
    position: absolute;
    top: -30px;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 50%;
    text-align: center;
    color: #fff;
}

.panel1 .text_area{
    width: 100%;
    font-size:clamp(16px, 5vw, 40px); 
    font-weight: bold;
    position: absolute;
    bottom: 30px;left: 50%;
    transform: translateX(-50%);
}

.panel1 .text_area span{
    font-size:clamp(20px, 5vw, 60px); 
    color: transparent;
    background: linear-gradient(to right top,#4D67DA ,#2670BD, #00AEEF );
    -webkit-background-clip: text;
}
.panel2 {
    z-index: 2;
    position: absolute;
    bottom: -30px;
    left: 0%;
    width: 100%;
    height: 50%;
    text-align: center;
    color: #fff;
}
.panel2 .text_area{
    width: 100%;
    font-size:clamp(16px, 5vw, 40px); 
    font-weight: bold;
    position: absolute;
    top: 30px;left: 50%;
    transform: translateX(-50%);
}
.panel2 .text_area span{
    font-size:clamp(20px, 5vw, 60px); 

    color: transparent;
    background: linear-gradient(to right top,#4D67DA ,#2670BD, #00AEEF );
    -webkit-background-clip: text;
}


.panel3{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
}

.panel3 .img_area{
    width: 100%;
    height: clamp(400px, 70vw, 600px);
    background: #F8FAFC;
    border-radius: 20px;
    border: 1px solid #E0E8FB;

}




.panel4{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.panel4 .text_area{
    opacity: 0;
}
.panel4 .img_area{
    width: 100%;
    height: clamp(400px, 70vw, 600px);
    

}

/* 스와이퍼슬라이드 */
.swiper{
    width: 100%;height: 100%;
    border: 1px solid #E0E8FB;
    border-radius: 20px;
}
.swiper-wrapper{
    width: 100%;height: 100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.cont_wrap{
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F8FAFC;
    padding-top: clamp(12px, 2vw, 15px);
    padding-bottom: clamp(12px, 2vw, 15px);
}
.lottie_img_wrap{
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide .text_area{
    width: 51%;
    height: 100%;
    /* padding: 5%; */
    position: relative;
    word-break: keep-all;
    
}
.swiper-slide .text_area .text_wrap{
    width: 90%;
    height: auto;
    background: #F8FAFC;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 5%;
}
.swiper-slide .text_wrap .tit{
    font-weight: bold;
    font-size:clamp(18px, 5vw, 28px); 
    padding-bottom: 30px;
    color: #19305C;
}
.swiper-slide .text_wrap .txt{
    line-height: 1.5;
    font-size:clamp(13px, 3vw, 18px); 

}
.br_930{
    display: none;
}

.panel5{
    /* z-index: 3; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    opacity: 0;
}

.panel1 { background: #000000; }
.panel2 { background: #000000; }
/* .panel3 { background: #ffd900; } */
.panel4 { background: #ffffff; }

.lottie_wrap{
    width: 50%;
    height: 50%;
    background: #F8FAFC;

}


/* 4. 상담하기 */
.section3{
    border: 1px solid #000;
    background: #19305C;
    color: #fff;
}
.section3 .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(40px, 10vw, 120px);
    padding-bottom: clamp(40px, 10vw, 120px);   
    text-align: left;
}
.section3 .inner .text_area{
    width: 67%;
}

.section3 .inner .section_tit{
    font-size:clamp(20px, 5vw, 35px); 
    line-height: 1.4;
}
.section3 .inner .section_txt{
    padding-top: clamp(12px, 2vw, 15px);
    color: #fff;
    font-size: clamp(13px, 3vw, 18px);
}
.shorcut_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    max-width: 150px;
    border-radius: 10px;
    background: #fff;
    margin-top: clamp(12px, 2vw, 15px);
    text-align: center;
}
.shorcut_btn> a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: clamp(12px, 2vw, 15px);
    padding-bottom: clamp(12px, 2vw, 15px);
    color: #19305C;
    font-weight: bold;
    font-size: clamp(13px, 3vw, 20px);
    transition: all 0.3s;
}
.section3 .inner .img_area{
    width: 33%;
}


.lottie_img_wrap1{
    width: 350px;
}
.lottie_img_wrap2{
    width: 350px;
}
.lottie_img_wrap3{
    width: 300px;
}
.lottie_img_wrap4{
    width: 350px;
}

/* 상담하기 서비스소개 */
#bt_fix {
    width: 100%;
    height: 70px;
    background: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    border-top: 1px solid #e0e8fb;
}

#bt_fix #bt_wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    zoom: 1;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bt_fix #bt_wrapper .consulting{
    width: 50%;
    height: 100%;
    background: #00aeef;
    
}
#bt_fix #bt_wrapper .svc_intro{
    width: 50%;
    height: 100%;
    background: #79c142;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
#bt_fix #bt_wrapper a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: clamp(20px, 3vw, 25px);
    font-weight: bold;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1919px){
    .content{
        /* width: 80%; */
    }
}
@media (max-width: 930px){
	.br_930{
        display: none;
    }
    .lottie_img_wrap1{
        width: 300px;
    }
    .lottie_img_wrap2{
        width: 300px;
    }
    .lottie_img_wrap3{
        width: 260px;
    }
    .lottie_img_wrap4{
        width: 300px;
    }  

}


@media (max-width: 870px){
	.lottie_img_wrap1{
        width: 350px;
    }
    .lottie_img_wrap2{
        width: 330px;
    }
    .cont_wrap{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        
    }
    .swiper-slide .text_area .text_wrap{
        width: 100%;
    }
    
    .lottie_img_wrap{
        width: 100%;
        height: 50%;
    }
    
    .swiper-slide .text_area{
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .swiper-slide .text_area .text_wrap{
        top: 43%;
        text-align: center;
    }
    .br_930{
        display: block;
    }

    /* 4. 상담하기 */

.section3 .inner{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.section3 .inner .text_area{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section3 .inner .img_area{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}
}



@media (max-width: 700px){
	.lottie_img_wrap4{
        width: 270px;
    }
}


@media (max-width: 670px){
    .lottie_img_wrap1{
        width: 250px;
    }
    .lottie_img_wrap2{
        width: 250px;

    }

	.lottie_img_wrap3{
        width: 230px;
    }
	.lottie_img_wrap4{
        width: 200px;
    }
}



@media (max-width: 540px){
	.br_540{
        display: block;
    }
	.br_541{
        display: none;
    }
    .shorcut_btn{

        max-width: 110px;

    }
}

@media (max-width: 400px) {
    .swiper-slide .text_area .text_wrap {
        top: 34%;
    }
    .shorcut_btn{
        max-width: 104px;

    }
    
}










