@charset "utf-8";

/* 내용관리 */
#container_title { display:none; }

#ctt {
    /* margin:10px 0;
    padding:20px; */
    /*전체여백 없앰 */

    background:#fff}
.ctt_admin {
    display: none;
    text-align:right
}
#ctt header h1 {
    position:absolute;
    font-size:0;
    line-height:0;
    overflow:hidden}
#ctt_con {
    width:100%; 
	min-height:100px; 
	line-height:1.6em; 
	position:relative; 
	background:#fff;
}
#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}

.fa-fw{
    display: none!important; 
}

.inner{
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 1230px;
    padding-top: clamp(80px, 10vw, 200px);
    padding-bottom: clamp(50px, 10vw, 150px);
    /* position: relative; */
}
.con_wrap{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    font-family: 'Noto Sans KR';
}
/* 네비 */
#gnb_1dul li:last-child a.gnb_1da{
    color: #f33f3f !important;
}
/* 섹션1 */
.section1{
    width: 100%;
    height: 100%;
    position: relative;
}
.section1 .bg_area{
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
    z-index: 10;
}
a.bx-prev{
    display: none;
}
a.bx-next{
    display: none;
}
.section1 .con_wrap{
    align-items: center;
}
.section1 .con_wrap .text{
    font-size: clamp(12px, 2vw, 24px);
    line-height: 2;
    color: #fff;
    padding: 5% 0;
    font-weight: 600;
}

.section1 .con_wrap .text span{
    color: #f33f3f;
}


/* 섹션2 */
.section2{
    width: 100%;
    padding: 0 5%;
}
.section2 .inner{
    padding-top: clamp(20px, 8vw, 80px);
    padding-bottom: clamp(20px, 8vw, 80px);
}
.section2 .con_wrap{
    display: flex;
    flex-flow: column;
    align-items: start;

}
.section2 .con_wrap .title{
    width: fit-content;
    align-items: start;
    line-height: 1.5;
    border-bottom: 3.5px solid #f33f3f;
    font-size:  clamp(20px, 4vw, 30px);
    font-weight: bold;
    margin-bottom: 5%;
}


.branch_box{
    width: 100%;
}

.branch_box li{
    width: 100%;
}
.branch_box .nbsp{
    border-bottom: 1px solid #eaeaea;
    margin: 5% 0;
}

.branch_box li .tit{
    width: 100%;
    font-size:  clamp(16px, 2.5vw, 24px);
    font-weight: 600;
    padding-bottom: 10px;
    line-height: 1.5;
}
.branch_box li .txt_wrap{
    font-size:  clamp(13px, 2vw, 15px);
    line-height: 1.5;
    word-break: keep-all;
}
.branch_box li .txt1{
    font-weight: 500;
    padding-bottom: 5px;
}
.branch_box li .txt2{
    padding-bottom: 10px;
}
.br_570{
    display: none;
}
.branch_box li .map{
    width: 100%;
}
.branch_box li .map iframe{
    width: 100%;
    height: 350px;
}


.nbsp{
    width: 100%;
    margin-bottom: 5%;
    height: 1px;
    background: #EAEAEA;
    
}
.branch_box li .txt1 .red{
    color: #f33f3f;
}
.branch_box li .info_box{
    width: 100%;
    aspect-ratio: 1/0.8;

}
.branch_box li .info_box>ul{
    display: flex;
    width: 100%;
    word-break: keep-all;
    line-height: 1.5;
}
.branch_box li .info_box>ul>li:first-child{
    width: 20%;
    font-size:  clamp(12px, 2vw, 14px);
    color: #6B6E73;
}
.branch_box li .info_box>ul>li:last-child{
    width: 80%;
    font-size:  clamp(13px, 2vw, 15px);

}
.branch_box .box2 .tel{
    padding-top: 40px;
}




/* 반응형 */
@media (max-width: 1450px){
	
}

@media (max-width: 1250px){

}

@media (max-width: 1200px){

}

@media (max-width: 980px){
	
    
}

@media (max-width: 760px){
    .section2 .con_wrap .icon_wrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10%;
    }
    .section2 .con_wrap .icon_wrap li{
        width: calc(100% / 2 - 5%);
        margin-bottom: 2%;
        aspect-ratio: 1/1;
    }


    .branch_box{
        display: flex;
        flex-flow: column;
        width: 100%;
        aspect-ratio: 1/1;

    }
    .branch_box li{
        display: flex;
        flex-flow: column;
        align-items: start;
        width: 100%;
    }
    .branch_box li .info_box{
        width: 100%;
        aspect-ratio: 1/0.5;
    }
    .box1{
        margin-bottom: 5%;
    }
}

@media (max-width: 570px){
    .br_570{
        display: block;
    }
}